
 <%  @user.each do |u| %>
<div class="container">
    <div class="container-image">
        <% if u.photo %>
             <img  class="card-img-top" src='<%= u.photo %>' alt='<%= u.name %> thumbnail' />
        <% else %>
             <img  class="card-img-top" src='https://ibedc.com/filesupload/imagebuild/625350d9526e49.42179551.jpg' alt='<%= u.name %> thumbnail' />
        <% end %>
    </div>

        <div class="container-text">
            <%= link_to user_path(u) do %>
                <div><h2><%= u.name %></h2>
                </div>
                <div class="pull-right">Number of post <%= u.post_counter %> </div>
            <% end%>
        </div>
   
 
</div>
<% end %>
<hr/>




<p>
<%# <%= link_to 'Create User', new_user_path %> 
</p>
