
<div class="container">
    <div class="container-image">
     <% if @user.photo %>
             <img  class="card-img-top" src='<%= @user.photo %>' alt='<%= @user.name %> thumbnail' />
        <% else %>
             <img  class="card-img-top" src='https://ibedc.com/filesupload/imagebuild/625350d9526e49.42179551.jpg' alt='<%= @user.name %> thumbnail' />
        <% end %>
        
    </div>

        <div class="container-text">
                <div><h2><%= @user.name %></h2>
                </div>
                <div class="pull-right">Number of post <%= @user.post_counter %> </div>
        </div>
</div>

<%  @posts.each do |u| %>
    <div class="containerbody">
      <%= link_to user_post_path(@user, u) do%>
          <div><%= u.title %> #<%= u.id %> </div>
          <div class="content"><%= u.text %></div>
          <div class="comentlikes">
              <span>Comments: <%= u.comments.count %></span>
              <span>Liks: <%= u.likes.count %></span>
          </div>
      <% end %>
    </div>

     <div class="containerbody comments">
        <div><strong>Comments</strong></div>
        <div class="all_comments">
            <% u.recent_comment.each do |comment| %>
                <p> <%=comment.author.name %>: <%=comment.text %></p>
            <% end %>
        </div>
    </div>
<% end %>


 <center> <button>Pagination</button> </center>