
    <div class="containerbody">
         
                <div class="pdata">
                 Post <%= @post.title %> by <%= @user.name %>
                    <span>Comments : <%= @post.comments.count || 0  %> &nbsp;&nbsp;&nbsp;&nbsp;</span> 
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;Likes : <%= @post.likes.count || 0  %> &nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                 <% if can? :destroy, @post %>
                    <%= button_to "Delete Post", user_post_path(@post.author, @post), method: :delete, class: "button" %>
                <% end %>
           
          <div class="content">
            <%= @post.text %>
          </div>
        
    </div>

     <div class="containerbody comments">
        <div><strong>Comments</strong></div>
        <div class="all_comments">
            <% @post.comments.each do |comment| %>
                <p> <%=comment.author.name %>: <%=comment.text %></p>
                <% if can? :destroy , comment %>
                <%= button_to 'Delete comment', user_post_comment_path(@user , @post , comment), method: :delete, class: "btn btn-dark" %>
                <% end %>
            <% end %>
        </div>
    </div>

     <div class="containerbody comments">
    
     <%= button_to "Add Comment", new_user_post_comment_path(@post.author, @post), method: :get, class: "button" %>
     <%= button_to "Add Like", new_user_post_like_path(@post.author, @post), method: :get, class: "button" %>   

      

     </div>
